{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    {{ tipo }}
{% endblock %}

{% block jquery %}
    {{ block.super }}
    <script>

        //var dx=$('document');
        dx.ready(inicializarBuscar);

        function inicializarBuscar()
        {
            var y = $("#id_tipoBusq");
            y.find("option[value='1']").attr("selected",false);
            y.find("option[value="+ {{ tipo }} +"]").attr("selected",true);
            seleccion();
        }

        function seleccion()
        {
            var y = $("#id_tipoBusq");
            y.change
            (
                function ()
                {
                    var m = '';
                    $("#id_tipoBusq").find("option:selected").each
                    (
                        function()
                        {
                            m = $( this ).val()+'';
                        }
                    );

                    cambiar(m,$("#title"),$("#id_consulta"));
                }
            ).change();
        }

        function cambiar(m, x, z)
        {
            switch (m)
            {
                case '1':
                    x.html('Búsqueda por número de Cuenta');
                    z.attr('placeholder', 'Escriba un número de cuenta');
                    break;

                case '2':
                    x.html('Búsqueda por numero de Medidor');
                    z.attr('placeholder', 'Escriba un número de medidor');
                    break;

                case '3':
                    x.html('Búsqueda por Nombre de abonado');
                    z.attr('placeholder', 'Escriba apellidos del abonado');
                    break;

                case '4':
                    x.html('Búsqueda por Ruta de Lectura');
                    z.attr('placeholder', 'Escriba un geocodigo');
                    break;

                default:
                break;
            }
        }

        function buscarAjax(tipo, valorBuscado){
            $('#id_consulta').val(valorBuscado);
            $("#id_tipoBusq").val(tipo);
            envioRecepcionAjax
            (
                '{% url 'busqueda' %}',
                $('#b').serialize()
            );
            $('#cargando').show();
            $('#listaResultados').hide();
            $('#resultado').hide();
            return false;
        }

    </script>
{% endblock %}

{% block content %}
 
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="vcenter col-md-4">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <form role="form" class="form-group" id="b" name="b" method="post" action=""
                        onsubmit="return buscarAjax(($('#id_tipoBusq').val()), ($('#id_consulta').val()))"
                        >
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <br><div id="err"></div>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    {% bootstrap_icon "search" %} Buscar
                                </button>
                            {% endbuttons %}

                        </form>
                    </div>
                </div>
            </div>
            <div id="cargando" class="text-center">
                <img src="{% static 'img/cargando.gif' %}" height="100px" width="100px" style="margin-top: 40px;">
            </div>
            <div id="listaResultados" class="col-md-8"></div>
        </div>

        <div class="row">
            <div id="resultado" class="col-md-12"></div>
        </div>
    </div>
 
{% endblock %}

{% block jqueryfooter %}
    <script>
        seleccion();
        $('#cargando').hide();
        //$('#err').hide();
    </script>
{% endblock %}