{% extends 'usuarios/base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    {{ tipo }}
{% endblock %}

{% block jquery %}
    {{ block.super }}
    <script>

        //var dx=$('document');
        dx.ready(inicializarBuscar);

        function inicializarBuscar()
        {
            var y = $("#id_tipoBusq");
            y.find("option[value='1']").attr("selected",false);
            y.find("option[value="+ {{ tipo }} +"]").attr("selected",true);
            seleccion();
        }

        function seleccion()
        {
            var y = $("#id_tipoBusq");
            y.change
            (
                function ()
                {
                    var m = '';
                    $( "#id_tipoBusq").find("option:selected").each
                    (
                        function()
                        {
                            m = $( this ).val()+'';
                        }
                    );

                    cambiar(m,$("#title"),$("#id_consulta"));
                }
            ).change();
        }

        function cambiar(m, x, z)
        {
            switch (m)
            {
                case '1':
                    x.html('Búsqueda por número de Cuenta');
                    z.attr('placeholder', 'Escriba un número de cuenta');
                    break;

                case '2':
                    x.html('Búsqueda por numero de Medidor');
                    z.attr('placeholder', 'Escriba un número de medidor');
                    break;

                case '3':
                    x.html('Búsqueda por Nombre de abonado');
                    z.attr('placeholder', 'Escriba apellidos del abonado');
                    break;

                case '4':
                    x.html('Búsqueda por Ruta de Lectura');
                    z.attr('placeholder', 'Escriba un geocodigo');
                    break;

                default:
                break;
            }
        }

    </script>
{% endblock %}

{% block content %}
 
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4 panel panel-default" >
                <div class="panel-body">
                    <form role="form" class="form-group" name="b" method="post" action=""
                    onsubmit="
                        envioRecepcionAjax
                        (
                            '{% url 'busqueda' %}',
                            {
                                'tipo': $('#id_tipoBusq').val(),
                                'dato': $('#id_consulta').val(),
                                'u': {{ user.id }}
                            }
                        );
                        return false;"
                    >
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "search" %} Buscar
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div id="listaResultados" class="col-md-8">

            </div>
        </div>

        <div id="result"></div>
    </div>
 
{% endblock %}

{% block jqueryfooter %}
    <script>
        seleccion();
    </script>
{% endblock %}