{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-ec">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title id="title">
            {% block title %}
                P&#225;gina Sin T&#237;tulo
            {% endblock %}
        </title>

        <!-- CSS de Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="all">

        <!-- CSS de JQuery-UI -->
        <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet" media="all">

        <!-- CSS Personal -->
        <link href="{% static 'css/jhonsson.css' %}" rel="stylesheet" media="all">

        <!-- Favicon-->
        <link id="favicon" rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'favicon/favicon.ico' %}">
        <link id="favicon2x" rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}">

        <!-- JS Librería jQuery -->
        <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>

        <!-- JS de Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'js/jhonsson.js' %}"></script>

        <!-- JS Librería jQueryDajax respuestas asincronas -->
        <script src="{% static 'js/jquery.ajax.js' %}"></script>
        <script src="{% static 'js/jquery.ajax-plugin.js' %}"></script>
        <script src="{% static 'js/jquery.dajax.core.js' %}"></script>

        <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block jquery %}
            <script>
                var dx=$('document');
                dx.ready(navegacion);

                function navegacion()
                {
                    $('#{{ nav }}').addClass('active');
                }
            </script>
        {% endblock %}

    </head>

    <body onLoad="window.setTimeout('hora()',1000);">
        <div id="wrap">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div style="padding-right: 20px">
                    <div class="navbar-header">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/logo2.png' %}" height="69px" width="240px">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% block navTop %}
                            {% include "navTop.html" %}
                        {% endblock %}
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-sm-3 col-md-2 sidebar">
                        {% block navLeft %}
                            {% include "navLeft.html" %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-9 col-md-10 main">
                        {% block content %}
                            <h1>Contenido</h1>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>
        <footer id="footer" class="footer">
            <div class="container text-center">
                <p>Coniel System V 1.0 - 2014.<br>
                    <a href="{% url 'acercade' %}" class="text-info">Acerca de</a></p>
                {% block footer %}
                {% endblock %}
            </div>
        </footer>
        {% block jqueryfooter %}

        {% endblock %}
    </body>
</html>