<ul class="nav nav-sidebar">
    {% if user.username %}
        <li>
            <form style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
                <input type="text" class="form-control" placeholder="Buscar Cta. ingresada...">
            </form>
        </li>
    {% endif %}
</ul>
<ul class="nav nav-sidebar">
    {% if user.username %}
        <li id="buscar" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               data-hover="dropdown" data-delay="200" data-close-others="true">
                Buscar en Sico
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                {#<li class="divider"></li>#}
                <li class="dropdown-header">Por: </li>
                <li><a href="{% url 'buscarCuenta' %}">Cuenta</a></li>
                <li><a href="{% url 'buscarMedidor' %}">Medidor</a></li>
                <li><a href="{% url 'buscarNombre' %}">Nombre</a></li>
                <li><a href="{% url 'buscarGeocodigo' %}">Geocodigo</a></li>
            </ul>
        </li>


        <li><a href="{% url 'ingresarSico' %}">Ingresar a Sico</a></li>

        <li><a href="{% url 'listadeingresos' %}">Actividades realizadas</a></li>

        <li><a href="{% url 'listadefotos' %}">Fotos</a></li>

        <li><a href="{% url 'cuadrillas' %}" >Monitoreo de Cuadrillas</a></li>

        <li><a href="{% url 'reportes' %}">Reportes</a></li>

        <li><a href="#">Avance de Obra</a></li>



        <li><a href="{% url 'logout' %}">Salir</a></li>
    {% endif %}
</ul>