<ul class="nav navbar-nav">

    {% if user.username %}
        <li class="navbar-header hora">
            <span>
                <b style="font-size: 13px;">Usuario&nbsp;&nbsp;: </b>
                <span >{{ user.first_name }} {{ user.last_name }}</span>
            </span>
            <br>
            <span>
                <b style="font-size: 13px;">Contrato  : </b>
                <span>{{ request.session.contrato }}</span>
            </span>
        </li>
    {% else %}
        <li id="accesoTop" class="active"><a href="#">Acceso</a></li>
    {% endif %}

</ul>

<ul class="nav navbar-nav navbar-right">

    <li style="padding-top: 24px;" class="hora">
            <span class="glyphicon glyphicon-time"></span>
    </li>

    <li class="navbar-header hora">
        <span id="fecha"></span>
        <br>
        <span id="hora"></span>
    </li>

    {% if user.username %}
        <li>
            <a href="{% url 'perfil' %}">
                <span class="glyphicon glyphicon-user"></span>
                Perfil
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-log-out"></span>
                Salir
            </a>
        </li>
    {% endif %}
</ul>