{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Acerca de
{% endblock %}


{% block content %}
 

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-3" ></div>

                    <div class="col-md-6" >
                        <div id="past" class="panel panel-info" style="margin-top: 50px; text-align: center">
                            <div class="panel-heading text-center">
                                <b id="tit">Acerca de</b>
                            </div>
                            <div class="panel-body" style="padding-bottom: 20px; padding-top: 20px;">

                                <h2>
                                    Coniel System<br>
                                </h2>

                                    <h3>
                                        <small>
                                            Versión 1.0<br>
                                        </small>
                                    </h3>

                                <h2>
                                    <small>
                                        Gestión de actividades administrativas<br>
                                        Coniel Cia. Ltda.<br>
                                    </small>
                                </h2>

                                <h3>
                                    <small>
                                        Universidad Técnica de Machala<br>

                                        Carrera de Ingeniería de Sistemas<br>

                                        Sr. Jhonsson Córdova Dávila<br>
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" ></div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}