{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es-ec">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title id="title">
            {% block title %}
                P&#225;gina Sin T&#237;tulo
            {% endblock %}
        </title>

        <!-- CSS de Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">

        <link href="{% static 'css/suit.css' %}" rel="stylesheet" media="screen">

        <!-- CSS Personal -->
        <link href="{% static 'css/jhonsson.css' %}" rel="stylesheet" media="screen">

        <!-- Favicon-->
        <link id="favicon" rel="icon" type="image/x-icon" sizes="16x16" href="{% static 'favicon/favicon.ico' %}">
        <link id="favicon2x" rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}">

        <!-- Librería jQuery requerida por los plugins de JavaScript -->
        <script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>

        <!-- Todos los plugins JavaScript de Bootstrap (también puedes
             incluir archivos JavaScript individuales de los únicos
             plugins que utilices) -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ajax-plugin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dajax.core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jhonsson.js' %}"></script>

        <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block jquery %}
            <script>
                var dx=$('document');
                dx.ready(navegacion);

                function navegacion()
                {
                    $('#{{ nav }}').addClass('active');
                }
            </script>
        {% endblock %}

    </head>
    <body>

        <div id="wrap" >
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div style="padding-right: 20px">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <a href="{% url 'home' %}"><img src="{% static 'img/logo2.png' %}" height="69px" width="240px"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% block nav %}
                            {% include "usuarios/navegacion.html" %}
                        {% endblock %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <div class="container">
                {% block content %}
                    <h1>Contenido</h1>
                {% endblock %}
            </div>
            <div id="push"></div>
        </div>

        <footer id="footer" class="footer">
            <div class="container text-center">
                <p>Coniel System V 1.0 - 2014.<br>
                    <a href="#Acercade" class="text-info">Acerca de</a></p>
                {% block footer %}

                {% endblock %}
            </div>
        </footer>

        {% block jqueryfooter %}

        {% endblock %}

    </body>


</html>