{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}
 
{% block content %}

    <div class="row" style="margin-top: 20px">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block" onclick="newUrl('{% url 'buscarCuenta' %}')">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Search.png' %}"><h4>Buscar en Sico</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block" onclick="newUrl('{% url 'ingresarSico' %}')">
                <img class="img-responsive center-block" src="{% static 'icons/Light_File.png' %}"><h4>Ingresar Información al Sistema</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block" onclick="newUrl('{% url 'listadeingresos' %}')">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Search.png' %}"><h4>Buscar Ingresos Realizados</h4>
            </button>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Users.png' %}"><h4>Cuadrillas</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_File_edit.png' %}"><h4>Reportes</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Percent.png' %}"><h4>Avances de Obra</h4>
            </button>
        </div>
    </div>
{% comment %}
    <div class="row" style="margin-top: 30px">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Chat.png' %}"><h4>Chat</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Flag.png' %}"><h4>Ubicaciones</h4>
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-link btn-lg btn-block">
                <img class="img-responsive center-block" src="{% static 'icons/Light_Tools.png' %}"><h4>Ajustes</h4>
            </button>
        </div>
    </div>{% endcomment %}
 
{% endblock %}

{% block footer %}
    <!--hola soy el footer-->
{% endblock %}