{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    Acceso al Sistema
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-11 col-md-9">
        <form role="form" class="form-signin" method="post" id="login-form" action="{% url 'login' %}">

                {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h8>
                        <span class="glyphicon glyphicon-log-in icon-white"></span>
                        Inicio se Sesi&oacute;n
                    </h8>
                </div>
                <div class="panel-body">
                    <div class="form-row control-group">
                        {{ f.usuario.label }}:
                        <div class="controls">
                            {% bootstrap_field f.usuario layout='inline' %}
                        </div>
                    </div>
                    <div class="form-row control-group">
                        {{ f.clave.label }}:
                        <div class="controls">
                            {% bootstrap_field f.clave layout='inline' %}
                        </div>
                    </div>
                    <div class="form-row control-group">
                        {{ f.sico.label }}:
                        <div class="controls">
                            {% bootstrap_field f.sico layout='inline' %}
                        </div>
                    </div>
                    <div class="form-row submit-row">
                    <input type="submit" class="btn btn-info" value="Ingresar"/>
                    </div>
                    {% if errors %}
                        <br>
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <label class="control-label small" for="inputError">
                                {{ errors }}
                            </label>
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        </div>
        <div class="col-sm-1 col-md-3"></div>

    </div>
{% endblock %}