{% extends "usuarios/base.html" %}


{% block title %}
    Acceso al Sistema
{% endblock %}


{% block content %}

    <form role="form" class="form-signin" method="post" id="login-form" action="{% url 'login' %}">

            {% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h8>
                    <span class="glyphicon glyphicon-log-in icon-white"></span>
                    Inicio se Sesi&oacute;n
                </h8>
            </div>
            <div class="panel-body">
                <div class="form-row control-group">
                    Nombre de usuario:
                    <div class="controls">
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                </div>
                <br>
                <div class="form-row control-group">
                    Contrase&#241;a
                    <div class="controls">
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <br>
                <div class="form-row submit-row">
                <input type="submit" class="btn btn-info" value="Ingresar"/>
                </div>
                {% if errors %}
                    <br>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <label class="control-label small" for="inputError">
                            {{ errors }}
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>

{% endblock %}


{#{% block footer %}#}
{#    <!--hola soy el footer-->#}
{#{% endblock %}#}