<ul class="nav nav-sidebar">
    {% if user.username %}
        <li id="buscar" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
               data-hover="dropdown" data-delay="200" data-close-others="true">
                Buscar
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                {#<li class="divider"></li>#}
                <li class="dropdown-header">Por: </li>
                <li><a href="{% url 'buscarCuenta' %}">Cuenta</a></li>
                <li><a href="{% url 'buscarMedidor' %}">Medidor</a></li>
                <li><a href="{% url 'buscarNombre' %}">Nombre</a></li>
                <li><a href="{% url 'buscarGeocodigo' %}">Geocodigo</a></li>
            </ul>
        </li>

        <li><a href="#">Ingresar</a></li>

        <li><a href="#">Fotos</a></li>

        <li><a href="#">Cuadrillas</a></li>

        <li><a href="#">Reportes</a></li>

        <li><a href="#">Avance de Obra</a></li>

        <li><a href="#">Contrato</a></li>
    {% endif %}
</ul>