<ul class="nav navbar-nav">

    {% if user.username %}

    {% else %}
        <li class="active"><a href="#">Acceso</a></li>
    {% endif %}

</ul>

<ul class="nav navbar-nav navbar-right">

    <li class="navbar-header hora">
        <span class="glyphicon glyphicon-time"></span>
        <span id="fecha"></span>
        <br>
        <span id="hora"></span>
    </li>

    {% if user.username %}
        <li style="margin-top: 10px;">
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="Buscar...">
        </form>
        </li>
        <li><a href="#">Perfil</a></li>
        <li><a href="{% url 'logout' %}">Salir</a></li>
    {% endif %}
</ul>