<ul class="nav navbar-nav">

    {% if user.username %}

    {% else %}
        <li class="active"><a href="#">Acceso</a></li>
    {% endif %}

</ul>

<ul class="nav navbar-nav navbar-right">

    <li style="padding-top: 24px;" class="hora">
            <span class="glyphicon glyphicon-time"></span>
    </li>

    <li class="navbar-header hora">
        <span id="fecha"></span>
        <br>
        <span id="hora"></span>
    </li>

    {% if user.username %}
        <li>
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                Perfil
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-log-out"></span>
                Salir
            </a>
        </li>
    {% endif %}
</ul>