{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
 

    <div class="container-fluid">
        <form role="form" class="form-group" id="b" name="b" method="post">
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-info center-block">
                        <div class="panel-body center-block text-center">

                            <h3>Cambio realizado exitosamente.</h3>
                            <br>
                            <br>
                            <a href="{% url 'logout' %}">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <br>
                                <h4>Salir para aplicar cambios...</h4>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>


{% endblock %}
