{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Cambio de Material
{% endblock %}

{% block jquery %}
    {{ block.super }}
        <script>
            var matSeleccionado=0;
            var sellSeleccionado=0;
            $(document).ready(function(){

                $('#buscarCliente').click(function(){

                    var tipo='';
                    var valorBuscado='';
                    var cta = $('#id_codigoDeCliente').val();
                    var med = $('#id_fabricaRev').val();
                    var nom = $('#id_nombreDeCliente').val();
                    var geo = $('#id_geocodigo').val();
                    if(cta!=''){
                        tipo='1';
                        valorBuscado=cta;
                    }else if(med!=''){
                        tipo='2';
                        valorBuscado=med;
                    }else if(nom!=''){
                        tipo='3';
                        valorBuscado=nom;
                    }else if(geo!=''){
                        tipo='4';
                        valorBuscado=geo;
                    }else{

                        return;
                    }
                    $('#cargando').removeClass('hidden');
                    envioRecepcionAjax
                    (
                        '{% url 'buscarCliente' %}',
                        {
                            'tipo': tipo,
                            'dato': valorBuscado
                        }
                    );


                });

                $('#id_tipoDeActividad').change(function(){
                    var medidorInstalado = $('#medidorInstalado');
                    if($('#id_tipoDeActividad option:selected').val()!='1'){
                        medidorInstalado.removeClass('hidden');
                    }else{
                        $('#id_medidor').find("option[value='']").attr("selected",true);
                        $('#id_fabricaInst').val('');
                        $('#id_serieInst').val('');
                        $('#id_marcaInst').val('');
                        $('#id_lecturaInst').val('0');
                        medidorInstalado.addClass('hidden');
                    }
                });

                /**
                 * MATERIALES
                 */
                $("#masMaterial").click(function(){

                    var materialSeleccionado = $('#id_material option:selected');
                    var cantidad = $('#id_cantidad').val();

                    var item=$("#detalleMaterial tr").length;
                    var nuevaFila="<tr id='matRow-"+(item)+"' " +
                            "onclick='seleccionMat("+item+")'>";
                    nuevaFila+="" +
                    "<td class='center-block' id='matRowitem-"+(item)+"'>"+(item)+"</td>" +
                    "<td class='"+materialSeleccionado.val()+"' id='matRowDesc-"+item+"'>"+materialSeleccionado.html()+"</td>" +
                    "<td class='left' id='matRowCantidad-"+item+"'>"+cantidad+"</td>" +
                    "<td class='center-block'>" +
                        "<button type='button' class='btn btn-default btn-xs' onclick='eliminarMat("+item+")' " +
                            "title='Quitar este Material de la lista'>" +
                            "<span class='glyphicon glyphicon-minus'></span>" +
                        "</button>" +
                    "</td>" +
                    "";
                    nuevaFila+="</tr>";
                    $("#detalleMaterial").append(nuevaFila);
                    $("#id_material").find("option[value='"+materialSeleccionado.val()+"']").remove();
                    $("#id_cantidad").val(1);
                });

                $("#id_cantidad").change(function(){
                    if(matSeleccionado>0){
                        $("[id='matRowCantidad-"+matSeleccionado+"']").html($("#id_cantidad").val());
                    }
                });

                 /**
                 * SELLOS
                 */
                $("#masSellos").click(function(){

                    var selloSeleccionado = $('#id_selloInst option:selected');
                    var ubicacionSeleccionada = $('#id_ubicacionDeSello option:selected');

                    var item=$("#detalleSellos tr").length;
                    var nuevaFila="<tr id='sellRow-"+(item)+"' " +
                            "onclick='seleccionSell("+item+")'>";
                    nuevaFila+="" +
                    "<td class='center-block' id='sellRowitem-"+(item)+"'>"+(item)+"</td>" +
                    "<td class='"+selloSeleccionado.val()+"' id='sellRowDesc-"+item+"'>"+selloSeleccionado.html()+"</td>" +
                    "<td class='"+ubicacionSeleccionada.val()+"' id='sellRowUbic-"+item+"'>"+ubicacionSeleccionada.html()+"</td>" +
                    "<td class='center-block'>" +
                        "<button type='button' class='btn btn-default btn-xs' onclick='eliminarSell("+item+")' " +
                            "title='Quitar este sllo de la lista'>" +
                            "<span class='glyphicon glyphicon-minus'></span>" +
                        "</button>" +
                    "</td>" +
                    "";
                    nuevaFila+="</tr>";
                    $("#detalleSellos").append(nuevaFila);
                    $("#id_selloInst").find("option[value='"+selloSeleccionado.val()+"']").remove();
                    $("#id_ubicacionDeSello").find("option[value='Caja']").attr("selected",true);
                });
                $("#id_ubicacionDeSello").change(function(){
                    if(sellSeleccionado>0){
                        $("[id='sellRowUbic-"+sellSeleccionado+"']").html($('#id_ubicacionDeSello option:selected').html());
                    }
                });

            });


            /**
             * MATERIALES
             */
            function eliminarMat(fila){
                // Obtenemos el total de columnas (tr) del id "tabla"
                var descripcion=$("[id='matRowDesc-"+fila+"']");
                $('#id_material').append(
                        "<option value='"+descripcion.attr('class')+"'>" +
                                ""+descripcion.html()+"" +
                        "</option>"
                );
                $("[id='matRow-"+fila+"']").remove()
            }
            function seleccionMat(fila){
                matSeleccionado=fila;
                var trs=$('#detalleMaterial tr').length
                var filaSeleccionada=$("[id='matRow-"+fila+"']");
                var colorear=filaSeleccionada.css( "background-color" )=='rgba(0, 0, 0, 0)';
                for(var i=0;i<trs;i++){
                    $("[id='matRow-"+(i+1)+"']").css('background-color', 'transparent');
                }
                //$("#detalleMaterial").css('background-color', 'transparent');
                if(colorear){
                    filaSeleccionada.css('background-color', '#c4e3f3');
                    $('#id_cantidad').val($("[id='matRowCantidad-"+fila+"']").html());
                }
                else{
                    matSeleccionado=0;
                }
            }

            /**
             * SELLOS
             */
            function eliminarSell(fila){
                // Obtenemos el total de columnas (tr) del id "tabla"
                var descripcion=$("[id='sellRowDesc-"+fila+"']");
                $('#id_selloInst').append(
                        "<option value='"+descripcion.attr('class')+"'>" +
                                ""+descripcion.html()+"" +
                        "</option>"
                );
                $("[id='sellRow-"+fila+"']").remove()
            }
            function seleccionSell(fila){
                sellSeleccionado=fila;
                var trs=$('#detalleSellos tr').length
                var filaSeleccionada=$("[id='sellRow-"+fila+"']");
                var colorear=filaSeleccionada.css( "background-color" )=='rgba(0, 0, 0, 0)';
                for(var i=0;i<trs;i++){
                    $("[id='sellRow-"+(i+1)+"']").css('background-color', 'transparent');
                }
                //$("#detalleSellos").css('background-color', 'transparent');
                if(colorear){
                    filaSeleccionada.css('background-color', '#c4e3f3');
                    $('#id_ubicacionDeSello').find("option[value='"+$("[id='sellRowUbic-"+fila+"']").html()+"']").attr("selected",true);
                }
                else{
                    sellSeleccionado=0;
                }
            }

        </script>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div id="erroresB" class="row">
                    <div class="col-md-12">
                        <div id="err">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Abonado</b>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7 center-block" style="margin: 0; padding: 0 0 0 13px;">
                                        {% bootstrap_field form.codigoDeCliente layout="horizontal" %}
                                    </div>
                                    <div id="cargando" class="col-md-2 center-block hidden"
                                         style="margin: 0; padding: 5px 0 0 0;">
                                        <img src="{% static 'img/cargandoCliente.gif' %}"
                                             height="24px" width="24px" class="center-block"
                                             >
                                    </div>
                                    <div class="col-md-3 center-block" style="margin: 0; padding: 0;">
                                        {% buttons %}
                                            <button id="buscarCliente" type="button" class="btn btn-default">
                                                {% bootstrap_icon "search" %} Buscar
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                {% bootstrap_field form.nombreDeCliente layout="horizontal" %}
                                {% bootstrap_field form.cedula layout="horizontal" %}
                                {% bootstrap_field form.telefono layout="horizontal" %}
                                {% bootstrap_field form.lugar layout="horizontal" %}
                                {% bootstrap_field form.calle layout="horizontal" %}
                                {% bootstrap_field form.geocodigo layout="horizontal" %}
                                <div class="row" >
                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div class="panel panel-info" style="margin-bottom: -5px;">
                                            <div class="panel-heading text-center">
                                                <b>Medidor - (Revisado / Desconectado)</b>
                                            </div>
                                            <div class="panel-body">
                                                {% bootstrap_field form.fabricaRev layout="horizontal" %}
                                                {% bootstrap_field form.serieRev layout="horizontal" %}
                                                {% bootstrap_field form.marcaRev layout="horizontal" %}
                                                {% bootstrap_field form.lecturaRev layout="horizontal" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="medidorInstalado" class="row hidden">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Medidor - (Instalado)</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.medidor layout="horizontal" %}
                                {% bootstrap_field form.fabricaInst layout="horizontal" %}
                                {% bootstrap_field form.serieInst layout="horizontal" %}
                                {% bootstrap_field form.marcaInst layout="horizontal" %}
                                {% bootstrap_field form.lecturaInst layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Sello(s)</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.selloInst layout="horizontal" %}
                                <div class="row">
                                    <div class="col-md-8 center-block" style="margin-top: 5px;">
                                        {% bootstrap_field form.ubicacionDeSello layout="horizontal" %}
                                    </div>
                                    <div class="col-md-4 center-block" style="margin-top: 5px;">
                                        {% buttons %}
                                            <button type="button" id="masSellos" class="btn btn-default" title="Agregar a la lista de sellos">
                                                {% bootstrap_icon "plus" %}
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                <div class="center-block">
                                    <table id="detalleSellos" class="table table-condensed table-hover">
                                        <thead>
                                            <td>
                                                <b>Item</b>
                                            </td>
                                            <td>
                                                <b>Sello</b>
                                            </td>
                                            <td>
                                                <b>Ubicacion</b>
                                            </td>
                                        </thead>
                                        <tbody >
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Referencia(s)</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.anterior layout="horizontal" %}
                                {% bootstrap_field form.posterior layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Fotos</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.fotos layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {#                                      Barra separadora de columnas                                      #}

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Actividad</b>
                            </div>
                            <div class="panel-body form-horizontal">
                                {% bootstrap_field form.tipoDeActividad layout="horizontal" %}
                                {% bootstrap_field form.fecha layout="horizontal" %}
                                {% bootstrap_field form.hora layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Materiales</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.material layout="horizontal" %}
                                <div class="row">
                                    <div class="col-md-8 center-block" style="margin-top: 5px;">
                                        {% bootstrap_field form.cantidad layout="horizontal" %}
                                    </div>
                                    <div class="col-md-4 center-block" style="margin-top: 5px;">
                                        {% buttons %}
                                            <button type="button" class="btn btn-default"
                                                    title="Agregar a la lista de materiales"
                                                    id="masMaterial">
                                                {% bootstrap_icon "plus" %}
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                <div>
                                    <table id="detalleMaterial" class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <b>Item</b>
                                                </th>
                                                <th>
                                                    <b>Descripcion</b>
                                                </th>
                                                <th>
                                                    <b>Cantidad</b>
                                                </th>
                                                <th>
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody >

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Detalles de Instalacion</b>
                            </div>
                            <div class="panel-body form-horizontal small">
                                <div class="row" >
                                    <div class="col-md-12" style="margin-bottom: 0px;">
                                        <div class="panel panel-info" style="margin-top: -5px; margin-bottom: 10px;">
                                            <div class="panel-heading text-center">
                                                <b>Instalador</b>
                                            </div>
                                            <div class="panel-body">
                                                {% bootstrap_field form.instalador layout="horizontal" %}
                                                {% bootstrap_field form.cuadrilla layout="horizontal" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% bootstrap_field form.usoEspecificoDelInmueble layout="horizontal" %}
                                {% bootstrap_field form.usoDeEnergia layout="horizontal" %}
                                {% bootstrap_field form.materialDeLaRed layout="horizontal" %}
                                {% bootstrap_field form.tipoDeConstruccion layout="horizontal" %}
                                {% bootstrap_field form.ubicacionDelMedidor layout="horizontal" %}
                                {% bootstrap_field form.tipoDeAcometidaRed layout="horizontal" %}
                                {% bootstrap_field form.calibreDeLaRed layout="horizontal" %}
                                {% bootstrap_field form.claseRed layout="horizontal" %}
                                {% bootstrap_field form.estadoDeUnaInstalacion layout="horizontal" %}
                                {% bootstrap_field form.formaDeConexion layout="horizontal" %}
                                {% bootstrap_field form.demanda layout="horizontal" %}
                                {% bootstrap_field form.motivoParaSolicitud layout="horizontal" %}
                                {% bootstrap_field form.tipoDeSolicitud layout="horizontal" %}
                                {% bootstrap_field form.tipoDeServicio layout="horizontal" %}
                                {% bootstrap_field form.nivelSocieconomico layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-md-2" style="margin-top: 50px;">
                <div class="row center-block">
                    <button type="button" class="btn btn-primary center-block">
                        {% bootstrap_icon "floppy-disk" %} Guardar
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="margin-top: 0;">
                <div class="panel panel-info" style="margin-top: -5px; margin-bottom: 10px;">
                    <div class="panel-heading text-center">
                        <b>Observaciones</b>
                    </div>
                    <div class="panel-body">
                        {% bootstrap_field form.observaciones layout="inline" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jqueryfooter %}{% endblock %}