{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Cambio de Materiales
{% endblock %}

{% block jquery %}
    {{ block.super }}
        <script>
            var matSeleccionado=0;
            var sellSeleccionado=0;

            //Funciones Para ingreso*************************************************************************************

            function continuarIngresoSico(url){
                envioRecepcionAjax
                    (
                        url,
                        {}
                    );
            }
            function deshabilitarBotones(bul){
                $('#btnGuardar').prop('disabled', bul);
                $('#btnIngresarSico').prop('disabled', bul);
                $('#btnEliminar').prop('disabled', bul);
            }

            //**********************************************************************************************************

            $(document).ready(function(){

                $('#btnIngresarSico').click(function(){
                    $('#cargandoForm').removeClass('hidden');
                    $('#lblEspera').html('Ingresando, Espere...');
                    deshabilitarBotones(true);
                    cambioDeEstado(false);
                    envioRecepcionAjax
                    (
                        '/continuaringreso/{{ form.id.value }}/{{ form.estadoSolicitud.value }}',
                        $('#ingreso').serialize()
                    );
                    cambioDeEstado(true);
                });

                $("#id_ubicacionDeSello").find("option[value='Caja']").attr("selected",true);
                $('#id_material').find("option[value='']").remove();
                $('#id_selloInst').find("option[value='']").remove();

                $('#id_serieRev').change(function(){
                    if($('#id_tipoDeSolicitud option:selected').val() == '11'){
                        cambiosPorVoltaje($('#id_serieRev').val());
                    }
                });

                $('#id_serieInst').change(function(){
                    cambiosPorVoltaje($('#id_serieInst').val())
                });

                $('#id_medidor').change(function(){
                    envioRecepcionAjax
                    (
                        '{% url 'buscarMedidorIngreso' %}',
                        {
                            'medidor': $('#id_medidor option:selected').val()
                        }
                    );
                });

                $('#buscarReferencia').click(function(){

                    var valorBuscado=$('#id_anterior').val();
                    if(valorBuscado == ''){
                        return;
                    }
                    $('#cargandoRef').removeClass('hidden');
                    envioRecepcionAjax
                    (
                        '{% url 'buscarReferencia' %}',
                        {
                            'dato': valorBuscado
                        }
                    );
                });

                $('#buscarCliente').click(function(){
                    var tipo='';
                    var valorBuscado='';
                    var cta = $('#id_codigoDeCliente').val();
                    var med = $('#id_fabricaRev').val();
                    var nom = $('#id_nombreDeCliente').val();
                    var geo = $('#id_geocodigo').val();
                    if(cta!=''){
                        tipo='1';
                        valorBuscado=cta;
                    }else if(med!=''){
                        tipo='2';
                        valorBuscado=med;
                    }else if(nom!=''){
                        tipo='3';
                        valorBuscado=nom;
                    }else if(geo!=''){
                        tipo='4';
                        valorBuscado=geo;
                    }else{
                        return;
                    }
                    $('#cargando').removeClass('hidden');
                    envioRecepcionAjax
                    (
                        '{% url 'buscarClienteIngreso' %}',
                        {
                            'tipo': tipo,
                            'dato': valorBuscado
                        }
                    );
                });

                $('#id_nivelSocieconomico').addClass('hidden');
                $("[for='id_nivelSocieconomico']").addClass('hidden');
                $('#id_anterior').prop('disabled', true);
                $('#id_medidor').prop('disabled', true);
                $('#id_tipoDeSolicitud').change(function(){
                    var medidorInstalado = $('#medidorInstalado');
                    var seleccion = $('#id_tipoDeSolicitud option:selected').val();
                    if(seleccion !='11'){
                        $('#id_medidor').prop('disabled', false);
                        medidorInstalado.removeClass('hidden');
                        if(seleccion=='13'){
                            $('#title').html('Cambio de Medidor');
                        }
                    }else{
                        $('#id_medidor').prop('disabled', true).find("option[value='']").attr("selected",true);
                        $('#title').html('Cambio de Materiales');
                        $('#id_fabricaInst').val('');
                        $('#id_serieInst').val('');
                        $('#id_marcaInst').val('');
                        $('#id_tipoDeMedidor').val('');
                        $('#id_lecturaInst').val('0');
                        medidorInstalado.addClass('hidden');
                        $('#id_serieRev').change();
                    }
                    if(seleccion=='1'){
                        $('#id_nombreDeCliente').attr('placeholder', 'Nombre del nuevo Cliente');
                        $('#id_geocodigo').prop('disabled', true).attr('placeholder', '');
                        $('#id_codigoDeCliente').prop('disabled', true).attr('placeholder', '');
                        $('#id_anterior').prop('disabled', false);
                        $('#title').html('Servicio Nuevo');
                        $('#buscarCliente').prop('disabled', true);
                        $('#id_cedula').prop('readonly', false).prop('placeholder', 'Cédula del nuevo Cliente');
                        $('#Referencia').removeClass('hidden');
                        $('#medRevisado').addClass('hidden');
                        $('#id_nivelSocieconomico').removeClass('hidden');
                        $("[for='id_nivelSocieconomico']").removeClass('hidden');
                    }else{
                        $('#id_nombreDeCliente').attr('placeholder', 'Buscar por Nombre');
                        $('#id_geocodigo').prop('disabled', false).attr('placeholder', 'Buscar por Geocódigo');
                        $('#id_codigoDeCliente').prop('disabled', false).attr('placeholder', 'Buscar por Cta.');
                        $('#id_anterior').prop('disabled', true);
                        $('#buscarCliente').prop('disabled', false);
                        $('#id_cedula').prop('placeholder', '').prop('readonly', true);
                        $('#Referencia').addClass('hidden');
                        $('#medRevisado').removeClass('hidden');
                        $('#id_nivelSocieconomico').addClass('hidden');
                        $("[for='id_nivelSocieconomico']").addClass('hidden');
                    }

                });

                /**
                 * MATERIALES
                 */
                $("#masMaterial").click(function(){

                    var materialSeleccionado = $('#id_material option:selected');
                    var cantidad = $('#id_cantidad').val();

                    var item=$("#detalleMaterial tr").length;
                    var nuevaFila="<tr id='matRow-"+(item)+"' " +
                            "onclick='seleccionMat("+item+")'>";
                    nuevaFila+="" +
                    "<td class='center-block' id='matRowitem-"+(item)+"'>"+(item)+"</td>" +
                    "<td class='"+materialSeleccionado.val()+"' id='matRowDesc-"+item+"'>"+materialSeleccionado.html()+"</td>" +
                    "<td class='left' id='matRowCantidad-"+item+"'>"+cantidad+"</td>" +
                    "<td class='center-block'>" +
                        "<button type='button' id='mmbtn' class='btn btn-default btn-xs mmbtn' onclick='eliminarMat("+item+")' " +
                            "title='Quitar este Material de la lista'>" +
                            "<span class='glyphicon glyphicon-minus'></span>" +
                        "</button>" +
                    "</td>" +
                    "";
                    nuevaFila+="</tr>";
                    $("#detalleMaterial").append(nuevaFila);
                    $('#id_cantMaterialesSeleccionados').append(
                        "<option id='matRowCantidad-"+item+"' value='"+cantidad+"' selected='selected'>" +
                                ""+cantidad+"" +
                        "</option>"
                    );
                    $('#id_materialesSeleccionados').append(
                        "<option id='matRow-"+(item)+"' value='"+materialSeleccionado.val()+"' selected='selected'>" +
                                ""+materialSeleccionado.html()+"" +
                        "</option>"
                    );
                    $("#id_material").find("option[value='"+materialSeleccionado.val()+"']").remove();
                    $("#id_cantidad").val(1);

                    if (!($('#id_material option').length>0)){
                        $('#masMaterial').prop('disabled', true);
                    }

                });

                $("#id_cantidad").change(function(){
                    if(matSeleccionado>0){
                        var cant = $("[id='matRowCantidad-"+matSeleccionado+"']");
                        var newCant = $("#id_cantidad").val();
                        cant.html(newCant);
                        cant.val(newCant);
                    }
                });

                 /**
                 * SELLOS
                 */
                $("#masSellos").click(function(){

                    var selloSeleccionado = $('#id_selloInst option:selected');
                    var ubicacionSeleccionada = $('#id_ubicacionDeSello option:selected');

                    var item=$("#detalleSellos tr").length;
                    var nuevaFila="<tr id='sellRow-"+(item)+"' " +
                            "onclick='seleccionSell("+item+")'>";
                    nuevaFila+="" +
                    "<td class='center-block' id='sellRowitem-"+(item)+"'>"+(item)+"</td>" +
                    "<td class='"+selloSeleccionado.val()+"' id='sellRowDesc-"+item+"'>"+selloSeleccionado.html()+"</td>" +
                    "<td class='"+ubicacionSeleccionada.val()+"' id='sellRowUbic-"+item+"'>"+ubicacionSeleccionada.html()+"</td>" +
                    "<td class='center-block'>" +
                        "<button type='button' id='msbtn' class='btn btn-default btn-xs msbtn' onclick='eliminarSell("+item+")' " +
                            "title='Quitar este sllo de la lista'>" +
                            "<span class='glyphicon glyphicon-minus'></span>" +
                        "</button>" +
                    "</td>" +
                    "";
                    nuevaFila+="</tr>";
                    $("#detalleSellos").append(nuevaFila);
                     $('#id_ubiSellosSeleccionados').append(
                        "<option value='"+ubicacionSeleccionada.val()+
                                "' selected='selected' id='sellRowUbic-"+item+"'>"+
                                ubicacionSeleccionada.html()+"</option>"
                    );
                    $('#id_sellosSeleccionados').append(
                        "<option value='"+selloSeleccionado.val()+
                                "' selected='selected' id='sellRow-"+item+"'>"+
                                selloSeleccionado.html()+"</option>"
                    );
                    $("#id_selloInst").find("option[value='"+selloSeleccionado.val()+"']").remove();
                    $("#id_ubicacionDeSello").find("option[value='Caja']").attr("selected",true);

                    if (!($('#id_selloInst option').length>0)){
                        $('#masSellos').prop('disabled', true);
                    }

                });
                $("#id_ubicacionDeSello").change(function(){
                    if(sellSeleccionado>0){
                        var ubi = $("[id='sellRowUbic-"+sellSeleccionado+"']");
                        var newUbi = $('#id_ubicacionDeSello option:selected').html();
                        ubi.html(newUbi);
                        ubi.val(newUbi);
                    }
                });


                {% if form.id.value != 0 %}

                    var tSolicitud = $('#id_tipoDeSolicitud');
                    tSolicitud.find("option[value='{{ form.tipoDeSolicitud.value }}']").attr("selected",true);
                    tSolicitud.change();

                    var v1=[];
                    var v2=[];
                    $("#id_sellosSeleccionados option").each(function(){
                       //alert('opcion '+$(this).text()+' valor '+ $(this).attr('value'))
                        v1.push($(this).attr('value'));
                        $('#id_selloInst').append(
                            "<option value='"+$(this).attr('value')+"'>"+$(this).text()+"</option>"
                        );
                    });
                    $("#id_ubiSellosSeleccionados option").each(function(){
                       //alert('opcion '+$(this).text()+' valor '+ $(this).attr('value'))
                        v2.push($(this).attr('value'));
                    });

                    $("#id_sellosSeleccionados option[value!='0']").remove();
                    $("#id_ubiSellosSeleccionados option[value!='0']").remove();

                    for (var i=0; i<v1.length; i++){
                        //alert(v1[i])
                        $('#id_selloInst').find("option[value='"+v1[i]+"']").attr("selected",true).change();
                        $('#id_ubicacionDeSello').find("option[value='"+v2[i]+"']").attr("selected",true).change();

                        $('#masSellos').click();
                    }

                    var m1=[];
                    var m2=[];

                    $("#id_materialesSeleccionados option").each(function(){
                       //alert('opcion '+$(this).text()+' valor '+ $(this).attr('value'))
                        var seleccionado=$(this);
                        var existeMat=false;
                        $("#id_material option").each(function(){
                            if($(this).attr('value') == seleccionado.attr('value')){
                                existeMat=true;
                            }
                        });
                        if(existeMat==false){
                            $('#id_material').append(
                                    "<option value='"+$(this).attr('value')+"'>"+$(this).text()+"</option>"
                            );
                        }
                        m1.push($(this).attr('value'));
                    });

                    $("#id_cantMaterialesSeleccionados option").each(function(){
                        //alert('opcion '+$(this).text()+' valor '+ )
                        m2.push($(this).attr('value'));
                    });

                    $("#id_materialesSeleccionados option[value!='0']").remove();
                    $("#id_cantMaterialesSeleccionados option[value!='0']").remove();

                    for (var j=0; j<m1.length; j++){
                        $('#id_cantidad').val(m2[j]).change();
                        $('#id_material').find("option[value='"+m1[j]+"']").attr("selected",true).change();
                        $('#masMaterial').click();
                    }

                    $('#id_cantidad').val('1').change();

                    {% if form.estadoSolicitud.value != 0 %}
                        cambioDeEstado(true);
                    {% endif %}

                {% endif %}


            });

            function cambioDeEstado(bul){
                $('#id_codigoDeCliente').prop('disabled', bul);
                $('#buscarCliente').prop('disabled', bul);
                $('#id_nombreDeCliente').prop('disabled', bul);
                $('#id_cedula').prop('disabled', bul);
                $('#id_telefono').prop('disabled', bul);
                $('#id_geocodigo').prop('disabled', bul);
                $('#id_tipoDeSolicitud').prop('disabled', bul);
                $('#id_motivoParaSolicitud').prop('disabled', bul);
                $('#id_fecha_day').prop('disabled', bul);
                $('#id_fecha_month').prop('disabled', bul);
                $('#id_fecha_year').prop('disabled', bul);
                $('#id_hora').prop('disabled', bul);
                $('#id_fabricaRev').prop('disabled', bul);
                $('#id_lecturaRev').prop('disabled', bul);
                $('#masMaterial').prop('disabled', bul);
                $('#id_cantidad').prop('disabled', bul);
                $('.msbtn').prop('disabled', bul);
                $('.mmbtn').prop('disabled', bul);
                $('#id_reubicacion').prop('disabled', bul);
                $('#id_contrastacion').prop('disabled', bul);
                $('#id_directo').prop('disabled', bul);
                $('#id_ubicacionDeSello').prop('disabled', bul);
                $('#masSellos').prop('disabled', bul);
                $('#id_materialDeLaRed').prop('disabled', bul);
                $('#id_formaDeConexion').prop('disabled', bul);
                $('#id_estadoDeUnaInstalacion').prop('disabled', bul);
                $('#id_tipoDeConstruccion').prop('disabled', bul);
                $('#id_tipoDeAcometidaRed').prop('disabled', bul);
                $('#id_calibreDeLaRed').prop('disabled', bul);
                $('#id_usoDeEnergia').prop('disabled', bul);
                $('#id_claseRed').prop('disabled', bul);
                $('#id_tipoDeServicio').prop('disabled', bul);
                $('#id_usoEspecificoDelInmueble').prop('disabled', bul);
                $('#id_demanda').prop('disabled', bul);
                $('#id_medidor').prop('disabled', bul);
                $('#id_lecturaInst').prop('disabled', bul);
                $('#id_ubicacionDelMedidor').prop('disabled', bul);
                $('#id_nivelSocieconomico').prop('disabled', bul);
                $('#id_anterior').prop('disabled', bul);
                $('#buscarReferencia').prop('disabled', bul);
            }

            function cambiosPorVoltaje(ser){
                if (ser!=''){
                    var r = ser.split("-")[0];
                    if((parseInt(r) % 2)==0){
                        $("#id_formaDeConexion").find("option[value='4']").attr("selected",true);
                        $("#id_tipoDeServicio").find("option[value='13B']").attr("selected",true);
                    }
                    else{
                        $("#id_formaDeConexion").find("option[value='3']").attr("selected",true);
                        $("#id_tipoDeServicio").find("option[value='12B']").attr("selected",true);
                    }
                }else{
                    $("#id_formaDeConexion").find("option[value='']").attr("selected",true);
                    $("#id_tipoDeServicio").find("option[value='']").attr("selected",true);
                }
            }

            /**
             * MATERIALES
             */
            function eliminarMat(fila){
                // Obtenemos el total de columnas (tr) del id "tabla"
                var descripcion=$("[id='matRowDesc-"+fila+"']");
                $('#id_material').append(
                        "<option value='"+descripcion.attr('class')+"'>" +
                                ""+descripcion.html()+"" +
                        "</option>"
                );
                $("[id='matRow-"+fila+"']").remove();
                $("[id='matRowCantidad-"+fila+"']").remove();
                $('#masMaterial').prop('disabled', false);
            }
            function seleccionMat(fila){
                matSeleccionado=fila;
                var trs=$('#detalleMaterial tr').length;
                var filaSeleccionada=$("[id='matRow-"+fila+"']");
                var colorear=filaSeleccionada.css( "background-color" )=='rgba(0, 0, 0, 0)';
                for(var i=0;i<trs;i++){
                    $("[id='matRow-"+(i+1)+"']").css('background-color', 'transparent');
                }
                //$("#detalleMaterial").css('background-color', 'transparent');
                if(colorear){
                    filaSeleccionada.css('background-color', '#c4e3f3');
                    $('#id_cantidad').val($("[id='matRowCantidad-"+fila+"']").html());
                }
                else{
                    matSeleccionado=0;
                }
            }

            /**
             * SELLOS
             */
            function eliminarSell(fila){
                // Obtenemos el total de columnas (tr) del id "tabla"
                var descripcion=$("[id='sellRowDesc-"+fila+"']");
                $('#id_selloInst').append(
                        "<option value='"+descripcion.attr('class')+"'>" +
                                ""+descripcion.html()+"" +
                        "</option>"
                );
                $("[id='sellRow-"+fila+"']").remove();
                $("[id='sellRowUbic-"+fila+"']").remove();
                $('#masSellos').prop('disabled', false);
            }
            function seleccionSell(fila){
                sellSeleccionado=fila;
                var trs=$('#detalleSellos tr').length;
                var filaSeleccionada=$("[id='sellRow-"+fila+"']");
                var colorear=filaSeleccionada.css( "background-color" )=='rgba(0, 0, 0, 0)';
                for(var i=0;i<trs;i++){
                    $("[id='sellRow-"+(i+1)+"']").css('background-color', 'transparent');
                }
                //$("#detalleSellos").css('background-color', 'transparent');
                if(colorear){
                    filaSeleccionada.css('background-color', '#c4e3f3');
                    $('#id_ubicacionDeSello').find("option[value='"+$("[id='sellRowUbic-"+fila+"']").html()+"']").attr("selected",true);
                }
                else{
                    sellSeleccionado=0;
                }
            }

            function guardarAjax(){
                $('#cargandoForm').removeClass('hidden');
                //cambioDeEstado(false);
                envioRecepcionAjax
                (
                    '{% url 'guardarIngreso' %}',
                    $('#ingreso').serialize()
                );
                //cambioDeEstado(true);
                return false;

            }

            function eliminarAjax(){
                $('<div></div>').appendTo('#preg')
                .html('<div><h6>Esta seguro de eliminar la actividad...?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Eliminar Actividad...',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Si: function () {
                            // $(obj).removeAttr('onclick');
                            // $(obj).parents('.Parent').remove();
                            $('#cargandoForm').removeClass('hidden');
                            envioRecepcionAjax
                            (
                                '/eliminaringreso/{{ form.id.value }}/',
                                $('#ingreso').serialize()
                            );
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });

                return false;

            }

        </script>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    <div class="container-fluid">
        <form role="form" class="form-group" id="ingreso" name="ingreso"
              method="post" action="" enctype="multipart/form-data"
        onsubmit="return guardarAjax();"
        >{% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div id="erroresB" class="row">
                    <div class="col-md-12">
                        <div id="err">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Abonado</b>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-7 center-block" style="margin: 0; padding: 0 0 0 13px;">
                                        {% bootstrap_field form.codigoDeCliente layout="horizontal" %}
                                    </div>
                                    <div id="cargando" class="col-md-2 center-block hidden"
                                         style="margin: 0; padding: 5px 0 0 0;">
                                        <img src="{% static 'img/cargandoCliente.gif' %}"
                                             height="24px" width="24px" class="center-block"
                                             >
                                    </div>
                                    <div class="col-md-3 center-block" style="margin: 0; padding: 0;">
                                        {% buttons %}
                                            <button id="buscarCliente" type="button" class="btn btn-default">
                                                {% bootstrap_icon "search" %} Buscar
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                {% bootstrap_field form.nombreDeCliente layout="horizontal" %}
                                {% bootstrap_field form.cedula layout="horizontal" %}
                                {% bootstrap_field form.estadoCli layout="horizontal" %}
                                {% bootstrap_field form.telefono layout="horizontal" %}
                                {% bootstrap_field form.lugar layout="horizontal" %}
                                {% bootstrap_field form.calle layout="horizontal" %}
                                {% bootstrap_field form.geocodigo layout="horizontal" %}
                                <div class="row" id="medRevisado">
                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div class="panel panel-info" style="margin-bottom: -5px;">
                                            <div class="panel-heading text-center">
                                                <b>Medidor - (Revisado / Desconectado)</b>
                                            </div>
                                            <div class="panel-body">
                                                {% bootstrap_field form.fabricaRev layout="horizontal" %}
                                                {% bootstrap_field form.serieRev layout="horizontal" %}
                                                {% bootstrap_field form.marcaRev layout="horizontal" %}
                                                {% bootstrap_field form.lecturaRev layout="horizontal" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Materiales</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.material layout="horizontal" %}
                                <div class="row">
                                    <div class="col-md-8 center-block" style="margin-top: 5px;">
                                        {% bootstrap_field form.cantidad layout="horizontal" %}
                                    </div>
                                    <div class="col-md-4 center-block" style="margin-top: 5px;">
                                        {% buttons %}
                                            <button type="button" class="btn btn-default"
                                                    title="Agregar a la lista de materiales"
                                                    id="masMaterial">
                                                {% bootstrap_icon "plus" %}
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                <div>
                                    <table id="detalleMaterial" class="table table-condensed table-hover" style="margin-bottom: 0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <b>Item</b>
                                                </th>
                                                <th>
                                                    <b>Descripcion</b>
                                                </th>
                                                <th>
                                                    <b>Cantidad</b>
                                                </th>
                                                <th>
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-md-10">
                                            {% bootstrap_field form.materialesSeleccionados layout="inline" %}
                                        </div>
                                        <div class="col-md-2">
                                            {% bootstrap_field form.cantMaterialesSeleccionados layout="inline" %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 small">
                                            {% bootstrap_field form.reubicacion layout="inline" %}
                                        </div>
                                        <div class="col-md-4 small">
                                            {% bootstrap_field form.contrastacion layout="inline" %}
                                        </div>
                                        <div class="col-md-4 small">
                                            {% bootstrap_field form.directo layout="inline" %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Sello(s)</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.selloInst layout="horizontal" %}
                                <div class="row">
                                    <div class="col-md-8 center-block" style="margin-top: 5px;">
                                        {% bootstrap_field form.ubicacionDeSello layout="horizontal" %}
                                    </div>
                                    <div class="col-md-4 center-block" style="margin-top: 5px;">
                                        {% buttons %}
                                            <button type="button" id="masSellos" class="btn btn-default" title="Agregar a la lista de sellos">
                                                {% bootstrap_icon "plus" %}
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>
                                <div class="center-block">
                                    <table id="detalleSellos" class="table table-condensed table-hover" style="margin-bottom: 0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <b>Item</b>
                                                </th>
                                                <th>
                                                    <b>Sello</b>
                                                </th>
                                                <th>
                                                    <b>Ubicacion</b>
                                                </th>
                                                <th>
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-md-10">
                                            {% bootstrap_field form.sellosSeleccionados layout="inline" %}
                                        </div>
                                        <div class="col-md-2">
                                            {% bootstrap_field form.ubiSellosSeleccionados layout="inline" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hidden" id="Referencia">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Referencia(s)</b>
                            </div>
                            <div class="panel-body">
                                <div id="erroresR" class="row">
                                    <div class="col-md-12">
                                        <div id="errRef">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 center-block" style="margin: 0; padding: 0 0 0 13px;">
                                        {% bootstrap_field form.anterior layout="horizontal" %}
                                    </div>
                                    <div id="cargandoRef" class="col-md-2 center-block hidden"
                                         style="margin: 0; padding: 5px 0 0 0;">
                                        <img src="{% static 'img/cargandoCliente.gif' %}"
                                             height="24px" width="24px" class="center-block"
                                             >
                                    </div>
                                    <div class="col-md-3 center-block" style="margin: 0; padding: 0;">
                                        {% buttons %}
                                            <button id="buscarReferencia" type="button" class="btn btn-default">
                                                {% bootstrap_icon "search" %} Buscar
                                            </button>
                                        {% endbuttons %}
                                    </div>
                                </div>

                                {% bootstrap_field form.direccionRef layout="horizontal" %}
                                {% bootstrap_field form.serieAnteriror layout="horizontal" %}
                                {% bootstrap_field form.marcaAnteriror layout="horizontal" %}
                                {% bootstrap_field form.cuentaAnteriror layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row
                {% if form.id.value == 0 %}
                    hidden
                {% endif %}
                ">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Fotos</b>
                            </div>
                            <div class="panel-body center-block">
                                {% buttons %}
                                    <button id="misFotos" type="button" onclick="newUrl('/fotos/{{ form.id.value }}')"
                                            class="btn btn-default center-block">
                                        {% bootstrap_icon "picture" %} Fotos de Actividad...
                                    </button>
                                {% endbuttons %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {#                                      Barra separadora de columnas                                      #}

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Actividad</b>
                            </div>
                            <div class="panel-body form-horizontal">
                                {% bootstrap_field form.id layout="inline" %}
                                {% bootstrap_field form.tipoDeSolicitud layout="horizontal" %}
                                {% bootstrap_field form.motivoParaSolicitud layout="horizontal" %}
                                {% bootstrap_field form.fecha layout="horizontal" %}
                                {% bootstrap_field form.hora layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="medidorInstalado" class="row hidden">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Medidor - (Instalado)</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.medidor layout="horizontal" %}
                                {% bootstrap_field form.fabricaInst layout="horizontal" %}
                                {% bootstrap_field form.serieInst layout="horizontal" %}
                                {% bootstrap_field form.marcaInst layout="horizontal" %}
                                {% bootstrap_field form.tipoDeMedidor layout="horizontal" %}
                                {% bootstrap_field form.lecturaInst layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading text-center">
                                <b>Detalles de Instalacion</b>
                            </div>
                            <div class="panel-body form-horizontal small">
                                <div class="row" >
                                    <div class="col-md-12" style="margin-bottom: 0px;">
                                        <div class="panel panel-info" style="margin-top: -5px; margin-bottom: 10px;">
                                            <div class="panel-heading text-center">
                                                <b>Instalador</b>
                                            </div>
                                            <div class="panel-body">
                                                {% bootstrap_field form.instalador layout="horizontal" %}
                                                {% bootstrap_field form.cuadrilla layout="horizontal" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% bootstrap_field form.materialDeLaRed layout="horizontal" %}
                                {% bootstrap_field form.formaDeConexion layout="horizontal" %}
                                {% bootstrap_field form.estadoDeUnaInstalacion layout="horizontal" %}
                                {% bootstrap_field form.tipoDeConstruccion layout="horizontal" %}
                                {% bootstrap_field form.ubicacionDelMedidor layout="horizontal" %}
                                {% bootstrap_field form.tipoDeAcometidaRed layout="horizontal" %}
                                {% bootstrap_field form.calibreDeLaRed layout="horizontal" %}
                                {% bootstrap_field form.usoDeEnergia layout="horizontal" %}
                                {% bootstrap_field form.claseRed layout="horizontal" %}
                                {% bootstrap_field form.tipoDeServicio layout="horizontal" %}
                                {% bootstrap_field form.usoEspecificoDelInmueble layout="horizontal" %}
                                {% bootstrap_field form.demanda layout="horizontal" %}
                                {% bootstrap_field form.nivelSocieconomico layout="horizontal" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 0;">
                        <div class="panel panel-info" style="margin-top: -5px; margin-bottom: 10px;">
                            <div class="panel-heading text-center">
                                <b>Observaciones</b>
                            </div>
                            <div class="panel-body">
                                {% bootstrap_field form.observaciones layout="inline" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#                                      Barra separadora de columnas                                      #}

            <div class="col-md-2" style="margin-top: 50px;">
                <div class="row center-block">
                    <div class="panel panel-info">
                        <div class="panel-heading text-center">
                            <b>{{ form.numeroDeSolicitud.label }}</b>
                        </div>
                        <div class="panel-body">
                            {% bootstrap_field form.numeroDeSolicitud layout="inline" %}
                            <label id="estadoDeSolicitud">
                                Estado {{  form.estadoSolicitud.value }}:<br>
                                {{ form.estadoSolicitud.label }}
                            </label>
                            {% bootstrap_field form.estadoSolicitud layout="inline" %}
                        </div>
                    </div>

                    <button id="btnGuardar" type="submit" class="btn btn-default btn-lg center-block"
                            style="width: 100%; margin: 20px 0 20px 0;">
                        {% bootstrap_icon "save" %} Guardar
                    </button>

                    <div id="cargandoForm" class="col-md-2 center-block hidden"
                         style="padding: 0; width: 100%; margin: 0 0 20px 0;">
                        <img src="{% static 'img/cargandoCliente.gif' %}"
                             height="24px" width="24px" class="center-block">
                        <label id="lblEspera" class="text-center" style="width: 100%;">
                            Espere...
                        </label>
                    </div>

                        {% if form.estadoSolicitud.value != 13 %}
                            {% if form.id.value > 0 %}
                                <button id="btnIngresarSico" type="button" class="btn btn-default btn-lg center-block "
                                        style="width: 100%; margin: 20px 0 20px 0;">
                                    {% bootstrap_icon "send" %}
                                    {% if form.estadoSolicitud.value == 0 %}
                                        Ingresar
                                    {% else %}
                                        Continuar
                                    {% endif %}
                                </button>
                                {% if form.estadoSolicitud.value == 0 %}
                                    <button id="btnEliminar" type="button" onclick="eliminarAjax();"
                                            class="btn btn-default btn-lg center-block "
                                            style="width: 100%; margin: 20px 0 20px 0;">
                                        {% bootstrap_icon "trash" %} Eliminar
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    <div id="preg"></div>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}

{% block jqueryfooter %}{% endblock %}