{% load tz %}
{% for c in cuadrillas %}
    <a id="{{ c.id }}" href="#" class="list-group-item "
       onclick="addMarker(
           new google.maps.LatLng({{ c.latitud }}, {{ c.longitud }}),
           '{{ c.usuario.last_name }} -> {{ c.fechaHora.time }}',
           $(this)
       );">
        <h7 class="list-group-item-heading">{{ c.usuario.username }} {{ c.usuario.last_name }}</h7>
        <span class="badge">{{ c.fechaHora|timezone:"America/Guayaquil"|time }}</span>
        <p class="list-group-item-text">
            {% if c.actividad.instalador.cuadrilla %}
                {{ c.actividad.instalador.cuadrilla }}
            {% else %}
                Aun no se registra la cuadrilla del usuario...
            {% endif %}
        </p>
    </a>
{% endfor %}